body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleContainer {
  margin-top: 50px;
}
.logoImage {
  width: 400px;
}
.searchInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;

  max-width: 800px;
}
.searchInput {
  font-size: 20px;
  flex: 1;
  border: 3px solid black;
  height: 30px;
  padding: 10px;
  border-radius: 20px;
}
.searchButton {
  margin: 0px;
  height: 50px;
  width: 50%;
  background-color: rgb(0, 115, 203);
  border: 0px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
}
.clearButton {
  margin: 0px;
  height: 50px;
  width: 50%;
  background-color: rgb(192, 192, 192);
  border: 0px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
}
.buttonsContainer {
  display: flex;
  gap: 10px;
}
.searchAverageContainer {
  display: flex;
  gap: 20px;
}
.averagePriceContainer {
  display: flex;
  flex: 1;
  margin-bottom: 10px;
  background-color: rgba(244, 244, 244, 0.9);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}
.averagePriceIntroText {
  text-align: center;
  color: grey;

  margin: 0px;
  font-size: 20px;
}
.averagePriceNumberText {
  margin: 10px;
  font-size: 55px;
  color: rgb(0, 152, 0);
}
.listingsDisplayContainer {
  justify-content: center;
  gap: 20px;

  display: flex;
  flex-wrap: wrap;
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

.individualListingImage {
  border-radius: 20px;
  width: 100px;
}
.individualListingContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  background-color: rgba(244, 244, 244, 0.9);
  border-radius: 20px;

  height: 100px;
}
.individualListingContainer:hover {
  outline: 1px solid rgb(195, 195, 195);
}
.individualListingTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  flex: 1 1 0;
  min-width: 0;
}
.individualListingTitleText {
  font-weight: 400;

  margin: 0px;
  text-overflow: ellipsis;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
}
.individualListingPriceText {
  margin: 0px;
  font-size: 17px;
  color: rgb(0, 0, 0);
}
.individualListingDateText {
  margin: 0px;
  color: grey;
  font-size: 12px;

  width: 100%;
  height: 10px;
}
.individualListLink {
  color: black;
  flex: 1 0 calc(24% - 10px); /* Flex-grow, flex-shrink, flex-basis */
  max-width: calc(24% - 10px);
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.individualListingPriceGreenText {
  color: rgb(0, 152, 0) !important;
  font-size: 20px;
  font-weight: bold;
}
.chartContainer {
  position: relative;
  height: 30vh;
  width: 100%;
  background-color: rgba(244, 244, 244, 0.9);
  border-radius: 20px;
}
.resultsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90vw;
}
.listingsStatsContainer {
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin-top: 20px;
}
.usefulStatsContainer {
  width: 500px;
  height: 350px;
  background-color: rgba(244, 244, 244, 0.9);
  border-radius: 20px;
}
.checkBoxContainer {
  display: flex;
  flex-direction: row;
}

.radioInput input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid rgb(0, 115, 203);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

.radioInput input[type="radio"]:checked::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(0, 115, 203);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.searchOptionsContainer {
  display: flex;
  flex-direction: row;
}
.sliderMainContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.sliderContainer {
  display: flex;
}
.sliderRangeText {
  font-size: 16px;
  color: gray;
}
.sliderTitleText {
  color: gray;
  font-size: 20px;
}
.sliderTitleTextNumber {
  color: black;
  font-size: 25px;
}
.slider {
  appearance: none;
  width: 350px;
  height: 15px;
  background: #d3d3d3; /* Grey background */

  opacity: 0.7;
  transition: opacity 0.15s ease-in-out;
  border-radius: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: rgb(0, 115, 203);
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50; /* Green */
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.searchMainContainer {
  display: flex;
  flex-direction: column;
  width: 800px;
  background-color: #f7f7f7;
  border-radius: 25px;
  padding: 25px;
}
.statTitleText {
  color: gray;
}
.individualStatContainer {
  margin: 20px;
}
